[submodule "Hackathon-5"]
	path = Hackathon-5
	url = https://github.com/pulse-ai-nyc/Hackathon-5.git
[submodule "data-schemas"]
	path = data-schemas
	url = https://github.com/unclemusclez/pulse-ai-hack-feb22-data-schemas.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/unclemusclez/frontend.git
[submodule "agentic_loop"]
	path = agentic_loop
	url = https://github.com/unclemusclez/pulse-ai-hack-feb22_agentic_loop.git
